.cscbutton {
    background-color:  #6688FF;
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 180px;
    border-radius: 8px;
}

.exportbutton {
    background-color: #4CAF50; /* Green */
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
    color: white;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 180px;
    border-radius: 8px;
}

.hidebutton {
    background-color: #555555;
    border-style: solid;
    border-color: Black;
    border-width: 3px;
    color: white;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 160px;
    border-radius: 8px;
}

.showbutton {
    background-color: #BBBBBB;
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
    color: white;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 160px;
    border-radius: 8px;
}

.resetbutton {
    background-color: #AF4C50; /* Red */
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    border-radius: 8px;
}


.file-input-wrapper {
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}




.cscbutton:hover {background-color:  #5577EE}
.hidebutton:hover {background-color: #AAAAAA}
.showbutton:hover {background-color: #555555}
.exportbutton:hover {background-color: #3e8e41}
.resetbutton:hover {background-color: #9E3B3F}

/* .button:active { */
/*   background-color: #3e8e41; */
/*   box-shadow: 0 5px #666; */
/*   transform: translateY(4px); */
/* } */


.areatitlecol {
    background-color: white;
    vertical-align: top;
    text-align: left; 
    width: 200px;
}

.areaabbrev {
    background-color: #9999CC;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
    font-weight: 600;
}

.areatitle {
    font-size: 70%;
    /* background-color: #9999CC; */
    margin-top: 1cm;
    font-weight: 400;
}
.areaabbrev:hover {background-color: #8888BB}

.areaintro {
    position: fixed;
    font-size: 75%;
    background-color: #9999CC;
    width: 600px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
    z-index:1000;
    top: 1em;
    right: 1em;
    font-weight: 400;
}

.linkareaintro {
    cursor:pointer;
    font-size: 75%;   
    color: #9999CC;
    text-align: right;
    display: inline-block;
    cursor: pointer;
    float:right;
    font-weight: 400;
}

.areacontentcol {
    word-wrap: break-word;
    display: block;
    vertical-align: top;
    text-align: left; 
    background-color: white;
}


.unittitlecol {
    background-color: white;
    vertical-align: top;
    text-align: left; 
}

.unittitle {
    background-color: LightYellow;
    width: 620px;
    line-height: 30px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
    font-weight: 600;
}

.unittitle:hover {background-color: Yellow}

.unitintro {
    font-size: 70%;
    line-height: 12px;                   
    font-weight: 400;
}

/* .unitintro:hover {background-color: Yellow} */

.unitcontent {
    display: block;
}

.unitcolor {
    background-color: white;
}

.topicscol {
    word-wrap: break-word;
    border-width: 2px;
    border-color: Gray;
    border-style: solid;
    background-color: #AFCFFF;
    vertical-align: top;
    text-align: left; 
}


td .topiccol {
    background-color: #AFCFFF;
    width: 600px;
    word-wrap: break-word;
    margin-bottom: 0.2em;
    font-family: Serif;
    font-weight: 400;
    vertical-align: top;
    text-align: left; 
}

.topic::before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: black;
    /* content: "- "; */
}


.subtopiccol {
    background-color: #AFCFFF;
    text-width: 450px;
    word-wrap: break-all;
    margin-left: 2em;
    font-size: 80%;
    font-weight: 400;
    vertical-align: top;
    text-align: left; 
}

.subtopicscol {
    background-color: #AFCFFF;
    vertical-align: top;
    text-align: left; 
}

.topicselectcol {
    background-color: #AFCFFF;
    vertical-align: center;
    text-align: center; 
    width: 20px;
}

.skillselectcol {
    background-color: LightSkyBlue;
    vertical-align: center;
    text-align: center; 
}


.subtopic::before {
   content: '';
   display: inline-block;
   width: 5px;
   height: 5px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: Gray;
    /* content: "- "; */
}

.subtopicselectcol {
    background-color: #AFCFFF;
    vertical-align: center;
    text-align: center; 
    width: 15px;
}

.subtopicpad {
    width: 40px;
    background-color: #AFCFFF;
}

.skillcol {
    width: 500px;
    word-wrap: break-word;
    margin-bottom: 0.2em;
    font-weight: 500;
    font-size: 90%;
    vertical-align: top;
    text-align: left; 
    background-color: LightSkyBlue;
}

.skill {
    background-color: LightSkyBlue;
}

.skill::before {
   content: '';
   display: inline-block;
   width: 6px;
   height: 6px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: black;
}

.skillscol {
    width: 630px;
    word-wrap: break-word;
    border-width: 2px;
    border-color: Gray;
    border-style: solid;
    background-color: LightSkyBlue;
    vertical-align: top;
    text-align: left; 
}


.crossref {
    font-size:80%;
    background: #AFCFFF;
    border: #AFCFFF;
    font-family: Serif;
    padding: 0 0 0;
    margin: 0 0 0;
    width:500px;
}


.topicno {
    text-color: black;
    background-color: LightGray;
    background-size: 17%;
    value: "no";
    content: "no";
    padding-right: 1.0em;
    font-size:90%;    
}

.topicyes {
    background-color: #4CAF50;
    text-color: black;
    background-size: 17%;
    content: 'yes';
    value: 'yes';
    padding-right: 1.0em;
    font-size:90%;
}

.subtopicno {
    text-color: black;
    background-color: LightGray;
    font-size: 75%;
    background-size: 15%;
    content: 'no';
    value: 'no';
    padding-right: 0.5em;
    font-size:90%;    
}

.subtopicyes {
    background-color: #4CAF50;
    text-color: black;
    font-size: 80%;
    background-size: 15%;
    content: 'yes';
    value: 'yes';
    padding-right: 0.5em;
    font-size:90%;
}

.skillno {
    text-color: black;
    background-color: LightGray;
    background-size: 9%;
    font-size:90%;    
    content: 'no';
    value: 'no';    
}

.skillfamiliarity {
    text-color: black;
    background-color: #90F394;
    background-size: 9%;
    font-size:90%;
    content: 'familiarity';
    value: 'familiarity';        
}

.skillusage {
    text-color: black;
    background-color: #5DCF61;
    background-size: 9%;
    font-size:90%;
    content: 'usage';
    value: 'usage';    
}

.skillassessment {
    text-color: black;
    background-color: #3B9E3A;
    background-size: 9%;
    font-size:90%;
    content: 'assessment';
    value: 'assessment';    
}

select {
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 8px;
    /* background: transparent; */
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./br_down.png)  no-repeat right #ddd;
    /* background-size: 15%; */
    /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee; */
    cursor:pointer;
}

.smallpadding {
    width : 0.2cm;
}

.smallindent {
    width : 0.2cm;
}

.indent {
    width : 0.5cm;
}
.verticalspace {
    height : 2cm;
}
