.cscbutton {
    background-color: #4CAF50; /* Green */
    border-style: solid;
    border-color: Gray;
    border-width: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    border-radius: 8px;
}


.file-input-wrapper {
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}




.cscbutton:hover {background-color: #3e8e41}

/* .button:active { */
/*   background-color: #3e8e41; */
/*   box-shadow: 0 5px #666; */
/*   transform: translateY(4px); */
/* } */


table th {
    padding: 2px;
}

.indent {
    padding-left: 1.8em;
    background-color: white;
}

.areatitlecol {
    background-color: white;
    vertical-align: top;
    text-align: left; 
}

.areatitle {
    background-color: LightSkyBlue;
    width: 70px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
}

.areacontentcol {
    word-wrap: break-word;
    display: block;
    vertical-align: top;
    text-align: left; 
    background-color: white;
}


.unittitlecol {
    background-color: white;
    vertical-align: top;
    text-align: left; 
}

.unittitle {
    background-color: LightYellow;
    width: 500px;
    line-height: 25px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
}

.unitcontent {
    display: block;
}

.unitcolor {
    background-color: white;
}

.topicscol {
    word-wrap: break-word;
    border-width: 2px;
    border-color: Gray;
    border-style: solid;
    background-color: lightblue;
    vertical-align: top;
    text-align: left; 
}


.topiccol {
    background-color: lightblue;
    width: 400px;
    word-wrap: break-word;
    margin-bottom: 0.2em;
    font-family: Serif;
    font-weight: 400;
    vertical-align: top;
    text-align: left; 
}

.topic::before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: black;
    /* content: "- "; */
}


.subtopiccol {
    background-color: lightblue;
    width: 420px;
    word-wrap: break-all;
    margin-left: 2em;
    font-size: 80%;
    font-weight: 400;
    vertical-align: top;
    text-align: left; 
}

.subtopicscol {
    background-color: lightblue;
    vertical-align: top;
    text-align: left; 
}

.topicselectcol {
    background-color: lightblue;
    vertical-align: center;
    text-align: center; 
    width: 20px;
}

.skillselectcol {
    background-color: SkyBlue;
    vertical-align: center;
    text-align: center; 
}


.subtopic::before {
   content: '';
   display: inline-block;
   width: 5px;
   height: 5px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: Gray;
    /* content: "- "; */
}

.subtopicselectcol {
    background-color: lightblue;
    vertical-align: center;
    text-align: center; 
    width: 15px;
}

.subtopicpad {
    width: 40px;
    background-color: lightblue;
}

.skillcol {
    width: 500px;
    word-wrap: break-word;
    margin-bottom: 0.2em;
    font-weight: 500;
    font-size: 90%;
    vertical-align: top;
    text-align: left; 
    background-color: SkyBlue;
}

.skill {
    background-color: SkyBlue;
}

.skill::before {
   content: '';
   display: inline-block;
   width: 6px;
   height: 6px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: black;
}

.skillscol {
    width: 630px;
    word-wrap: break-word;
    border-width: 2px;
    border-color: Gray;
    border-style: solid;
    background-color: SkyBlue;
    vertical-align: top;
    text-align: left; 
}


.crossref {
    font-size:80%;
    background: lightblue;
    border: lightblue;
    font-family: Serif;
    padding: 0 0 0;
    margin: 0 0 0;
}


.topicno {
    text-color: black;
    background-color: IndianRed;
    background-size: 17%;
    value: "no";
    content: "no";
    padding-right: 1.0em;
    font-size:90%;    
}

.topicyes {
    background-color: LightGreen;
    text-color: black;
    background-size: 17%;
    content: 'yes';
    value: 'yes';
    padding-right: 1.0em;
    font-size:90%;
}

.subtopicno {
    text-color: black;
    background-color: LightCoral;
    font-size: 75%;
    background-size: 15%;
    content: 'no';
    value: 'no';
    padding-right: 0.5em;
    font-size:90%;    
}

.subtopicyes {
    background-color: PaleGreen;
    text-color: black;
    font-size: 80%;
    background-size: 15%;
    content: 'yes';
    value: 'yes';
    padding-right: 0.5em;
    font-size:90%;
}

.skillno {
    text-color: black;
    background-color: White;
    background-size: 9%;
    font-size:90%;    
}

.skillfamiliarity {
    text-color: black;
    background-color: LightGray;
    background-size: 9%;
    font-size:90%;    
}

.skillusage {
    text-color: black;
    background-color: LightSteelBlue;
    background-size: 9%;
    font-size:90%;    
}

.skillassessment {
    text-color: black;
    background-color: MediumSlateBlue;
    background-size: 9%;
    font-size:90%;
}

select {
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 8px;
    /* background: transparent; */
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./br_down.png)  no-repeat right #ddd;
    /* background-size: 15%; */
    /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee; */
    cursor:pointer;
}
