.indent {
    padding-left: 1.8em;
}

.areatitle {
    background-color: LightSkyBlue;
    width: 100px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
}

.areacontent {
    word-wrap: break-word;
    display: block;
}

.unittitle {
    background-color: LightYellow;
    width: 300px;
    word-wrap: break-word;
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 5px;
}

.unitcontent {
    display: block;
}

.topics {
    word-wrap: break-word;
    border-width: 2px;
    border-color: Gray;
    border-style: solid;
    background-color: lightblue;
}

.topic {
    width: 600px;
    word-wrap: break-word;
    margin-bottom: 0.2em;
    font-family: Serif, bold;
}

.topic::before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: black;
    /* content: "- "; */
}

tr {
    height: 8px;
}

.subtopic {
    width: 500px;
    word-wrap: break-all;
    margin-left: 2em;
    font-weight: 400;
}

.subtopic::before {
   content: '';
   display: inline-block;
   width: 5px;
   height: 5px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: Gray;
    /* content: "- "; */
}

.skill {
    width: 650px;
    word-wrap: break-word;
    margin-bottom: 0.2em;
    font-weight: 500;
}

.skill::before {
   content: '';
   display: inline-block;
   width: 6px;
   height: 6px;
   -moz-border-radius: 3.5px;
   -webkit-border-radius: 3.5px;
   border-radius: 3.5px;
   background-color: black;
}

.skills {
    word-wrap: break-word;
    border-width: 2px;
    border-color: Gray;
    border-style: solid;
    background-color: SkyBlue;
}

.not {
    text-color: black;
    background-color: IndianRed;
}

.addressed {
    background-color: LightGreen;
    text-color: black;
}

.notsub {
    text-color: black;
    background-color: LightCoral;
    font-size: 75%;
}

.addressedsub {
    background-color: PaleGreen;
    text-color: black;
    font-size: 80%;
}

.familiarity {
    text-color: black;
    background-color: LightGray;
}

.usage {
    text-color: black;
    background-color: LightSteelBlue;
}

.assessment {
    text-color: black;
    background-color: MediumSlateBlue;
}

.crossref {
    font-size:85%;
}

select {
    border-style: solid;
    border-width: 2px;
    border-color: Gray;
    border-radius: 8px;
    background: transparent;
    width: 110px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(./br_down.png)  no-repeat right #ddd;
    background-size: 9%;
    /* background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee; */
    cursor:pointer;
}


